@media (max-width:800px){
    .toprow{
        display:flex;
        justify-content: space-evenly;
        padding: 0rem;
        width: 80%;
        margin:0 auto;
    }

    img.top-picture {
       display: block;
        width: 120%;
        margin-left: auto;
        margin-right: auto;
    }

    .container {
        width: 95%;
    }

    .top-container {
        display: flex;
        flex-direction: column;

    }
}

@media (max-width:400px){

    /* header, nav, .toprow, ul, .logo{
        border: solid;
    } */
    header {
 
        text-align: center;
        width: auto;
        justify-content: space-between;
}

    nav {
        width: 95%;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
}

    .toprow, ul, .logo {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        padding: 2rem;
}
   
    img.top-picture {
        height: 15rem ;
        margin-right: 50rem ;
        width: fit-content;
    }

    .container {
        width: 92%;
        /* display: flex;
        flex-direction: column; */
    }

    .top-content, .text-container {
        /* border: solid; */
        display: flex;
        flex-direction: column;
}
    .text-container {
        width: 100%;
    }

    .boxes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    h2 {
        font-size: 2rem;
    }

    .middle-content .boxes .box {
        width: 15rem;
        height: 15rem;
        margin: 1rem 2.5%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.5rem;
    }

    .bottom-content {
                /* border: solid; */
        display: flex;
        flex-direction: column;
}
    .text-container {
        width: 100%;
    }

    footer nav{
    width: 100%;
    justify-content: space-evenly;
    margin-right: 0 auto;
    }
}